.navbar {
  height: 100%;
  display: flex;
  justify-content: end !important;
  /* align-items: flex-end !important;
  padding-bottom: 0 !important; */
}
.navbar-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar-list a {
  color: #fff;
  text-decoration: none;
}

.navbar-list a:focus {
  color: red;
}