.navbar {
  height: 100%;
  display: flex;
  justify-content: end !important;
  align-items: flex-end;
  padding-bottom: 0;
}
.navbar-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}