.filter-section {
  min-width: 320px;
  max-width: 350px;
  margin: 20px 0;
  box-shadow: 0px 0px 9px 7px grey;
  padding: 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.filter-section tr td:first-child {
  text-align: end;
  padding-right: 5px;
}

.react-datepicker-wrapper {
  margin: 5px;
  width: auto !important;
}
